<header>
  <nav class="navigation" fxLayout="row" fxFlexFill>
    <div class="navigation__logo">
      <div class="logo" fxLayoutGap="20px" fxLayoutAlign="center center">
        <mat-icon class="logo__img">home</mat-icon>
        <span class="logo__brand-name">ScalHive</span>
      </div>
    </div>
    <div class="navigation__menu">
      <div class="menu">
        <a routerLink="/" class="menu__link">Repositories</a>
      </div>
    </div>
  </nav>
</header>
